*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    background-color: darkred;
}

.logo img
{
    width: 130px;
    height: auto;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1800px;
    margin: auto;
}
.container
{
    float: right;
}

.admin
{
   
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.admin h5
{
    color: white;
    margin-top: 180px;
    margin-left: 550px;
    font-family: monospace;
    font-size: 15px;
}
.w3-container
{
    width: 90%;
    margin-left: 100px;
    margin-top: 50px;
}
.w3-container h2
{
    text-align: center;
     color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
}
.w3-container a
{
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    
}







